﻿.gauge {
    width: 400px;
    height: 300px;
    top: 10%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}
.gauge-body {
    width: 400px;
    height: 200px;
    top: 30%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
    margin: auto;
}
.gauge-center {
    z-index: 15;
    position: absolute;
    background-color: lightgray;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}
.gauge-red {
    position: absolute;
    background-color: red;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    transform-origin: bottom center;
}
.gauge-yellow {
    position: absolute;
    background-color: yellow;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    transform-origin: bottom center;
}
.gauge-green {
    position: absolute;
    background-color: green;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    transform-origin: bottom center;
}
.gauge-needle {
    z-index: 50;
    background-color: black;
    height: 3px;
    position: absolute;
    top: 197px;
    left: 50px;
    width: 150px;
    transform-origin: bottom right;
}
.gauge-data {
    z-index: 100;
    font-size: 30px;
    font: bolder;
    position: absolute;
    background-color: lightgray;
    top: 165px;
    left: 165px;
    width: 70px;
    height: 45px;
    margin-right: auto;
}

.gauge-header {
    z-index: 100;
    font-size: 30px;
    font: bolder;
    position: relative;
    margin-right: auto;
}

