﻿.linechart {
    width: 75%;
    height: 600px;
    top: 10%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.linechart-data {
    top: 10%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.linechart-header {
    z-index: 100;
    font-size: 30px;
    font: bolder;
    position: relative;
    margin-right: auto;
}
