﻿.pie {
    width: 400px;
    height: 300px;
    top: 10%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.pie-header {
    z-index: 100;
    font-size: 30px;
    font: bolder;
    position: relative;
    margin-right: auto;
}
