﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron-db {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.col-1, .col-2, .col-3 {
    float: left;
    width: 31%;
    padding: 15px;
    text-align: justify;
}

.col-sngl {
    float: left;
    width: 75%;
    padding: 15px;
    text-align: justify;
}

.colA-h {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: justify;
}
.colB-h {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: justify;
}
.col-h {
    float: left;
    width: 100%;
    padding: 15px;
    text-align: justify;
}
