﻿body {
}
.gauge {
    width: 400px;
    height: 200px;
    top: 30%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
    margin: auto;
    transform: scale(.5);
}
.gauge-center {
    z-index: 10;
    position: absolute;
    background-color: lightgray;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.gauge-back {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-red {
    z-index: 2;
    position: absolute;
    background-color: red;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
}

.gauge-yellow {
    z-index: 3;
    position: absolute;
    background-color: yellow;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    transform: rotate(116deg);
    transform-origin: bottom center;
}

.gauge-green {
    z-index: 4;
    transform: rotate(148deg);
    position: absolute;
    background-color: green;
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
    transform-origin: bottom center;
}
.gauge-needle {
    z-index: 50;
    background-color: black;
    height: 3px;
    position: absolute;
    top: 197px;
    left: 50px;
    width: 150px;
    transform-origin: bottom right;

}
